doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Samantha McCormick | Full-Stack Web Developer
		link(rel="stylesheet" href="scripts/main.css")
		<!-- Latest compiled and minified CSS -->
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(href='http://fonts.googleapis.com/css?family=Codystar|Poiret+One|Reenie+Beanie|Londrina+Outline|Pacifico|Rock+Salt|Pontano+Sans' rel='stylesheet')

	body
		block content

		//- jQuery 
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		//- jQuery UI
		script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
		//- Bootstrap js
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		//- Underscore
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
		//- Custom js file
		script(src="scripts/main.js")
		
		