doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Samantha McCormick | Full-Stack Web Developer
		<!-- Latest compiled and minified CSS -->
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")


	body
		block content
			.container-fixed

		//- jQuery 
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		//- Bootstrap js
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		//- Custom js file
		script(src="scripts/main.js")
		
		