body {
	background: url('/images/space.jpg') fixed no-repeat;

}

ul {
	padding: 0px;
}

li {
	display: inline;
	list-style-type: none;
	margin: 5px;
}

h2 {
	color: #000;
}

p {
	color: #000;
}

a {
	color: #000;
}

a:hover {
	color: #000;
}

/* Helper Classes */

.center {
	text-align: center;
	margin: 0 auto;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
	text-align: right;
}

.inline {
	display: inline;
	font-size: 30px;
	color: #000;
}

.space {
	margin-right: 30px;
}

.margin {
	margin: 10px 0;
}

.fa-bars {
	margin: 20px 40px 20px;
}

/* Bootstrap Custos */

/*.row {
	margin: 10px 0px;
}*/

/* Custom Parts */

.icon {
	vertical-align: top;
	margin: 3px 5px 0px 0px;
}

.white {
	padding: 14px 10px;
	display: inline-block;
	color: #000;
	background-color: #fff;
	font-family: 'Pontano Sans';
}

.whiteText {
	color: #fff;
}

.blackText {
	color: #000;
}

.huge {
	font-size: 3em;
	color: #fff;
	font-weight: 800;
}

#header {
	margin: 0 40px 40px;
	/* Padding gives breathing room to the top right icon */
	padding-right: 20px;
/*	height: 300px;
*/}

#item {
	padding: 50px 40px 90px;
}

#itemText {
	padding: 160px 0px;
}

#colorBlock {
	padding: 10px;
}

.height {
	height: 300px;
}

.abs {
	position: absolute;
}

.rel {
	position: relative;
}

#menuList {
	margin-top: 100px;
	position: absolute;
	color: #fff;
	background-color: pink;
}

.hidden {
	display: none;
}


/* Homepage: hover over and colors transition */

.colorFilter {
	-webkit-transition: 1s ease;
	transition: 1s ease;
	-webkit-filter: hue-rotate(60deg);
	background-color: hue-rotate(60deg);
}

.colorFilter2 {
	-webkit-transition: 1s ease;
	transition: 1s ease;
	-webkit-filter: hue-rotate(0deg);
	background-color: hue-rotate(0deg);
}

